name: Manual Trigger Publish DockerHub
on:
  watch:
    types: [started]
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.actor == github.event.repository.owner.login
    steps:
      - uses: actions/checkout@master
      - name: Publish Jenkins to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: seew0nic/jenkins
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          snapshot: true
          dockerfile: Dockerfile-cvte
